* {
    box-sizing: border-box;
}

h1 {
    font-family: "Merriweather";
}

header {
    text-align: center;
}

#header-title {
    color: whitesmoke;
    background:darkslateblue;
    margin-top: 0;
    padding: .5em;
}

h2 {
    padding-top: 8px;
    margin-bottom: 5px;
}

#header-caption {
    color: silver;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-top: 5px;
    border-bottom: 3px solid darkslateblue;
}

fieldset {
    border: none;
}

.personal-info label {
    color: gray;
}

.contact-header,
.format-label,
.news-header {
    font-weight: 600;
}

.personal-info {
    padding-left: 3px;
}

#zip {
    width: 50%;
}
/* ^------ base element styles ------^ */


.newsletter-check {
    padding-top: 15px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select {
    width: 100%;
    padding: .5em;
    margin-top: 5px;
    margin-bottom: 8px;
    background: silver;
    border-color: silver;
}

input[type="checkbox"],
input[type="radio"] {
    margin: 9px 9px 9px 0px;
}
button {
    width: 100%;
    background: darkslateblue;
    color: whitesmoke;
}

#format-html {
    margin-top: 20px;
}

#plain-format {
    margin-bottom: 25px;
}

textarea {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    background: silver;
    border: none;
    
}

#copyright-footer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

input:focus,
textarea:focus,
select:focus {
  background-color: lightgray;
  transition: all 0.3s ease-in;     
}
/* ------ Media Queries -------*/
@media screen and (min-width: 768px) {
    .entry-field {
        display: flex;
    }
    label[for="name"],
    label[for="email"],
    label[for="phone"],
    label[for="address"],
    label[for="city"],
    label[for="state"],
    label[for="zip"] {
        width: 20%;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select {
        width: 80%;
        padding: 8px;
    }

    #zip {
        width: 25%;
    }
}
    


    
